doctype html

html(
  lang='en'
)

  head
    
    meta(
      charset='utf-8'
    )
    
    meta(
      name='viewport'
      content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1'
    )

    meta(
      name='keywords'
      content='{{app.keywords}}'
    )

    meta(
      name='description'
      content='{{app.description}}'
    )

    title {{app.title}}

    link(
      rel='shortcut icon'
      href='/favicon.ico'
    )

    link(
      rel='stylesheet'
      type='text/css'
      href='/public/app.css'
    )

  body

    .container
      .row
        .col-sm-4
        .col-sm-4.text-center
          form(
            action='{{upload_url}}'
            method='POST'
            enctype='multipart/form-data'
          )
            div
              input.from-control(type='file', name='file')
            br
            br
            div
              button.btn.btn-default.btn-block(type='submit') submit

          | {% if image %}
          <img src='{{image}}' />
          | {% endif %}
            
        .col-sm-4
        .cleafix
